<%= stylesheet_link_tag "normalize" %>
<%= stylesheet_link_tag "webflow" %>
<%= stylesheet_link_tag "mpmt.webflow" %>

<div class='view' ng-view></div>

<%= render 'homepage' %>
<%= render 'artist' %>

<%= javascript_include_tag "parallax" %>
