<%= stylesheet_link_tag "normalize" %>
<%= stylesheet_link_tag "webflow" %>
<%= stylesheet_link_tag "mpmt.webflow" %>

<div class='view fade' ng-cloak ng-view></div>
<%= render 'homepage' %>
<%= render 'artist' %>


