<div class="w-nav navbar" data-collapse="all" data-animation="over-right" data-duration="400" data-contain="1">
  <div class="w-container">
    <a class="w-nav-brand" href="#"></a>
    <nav class="w-nav-menu nab-menu-open-container" role="navigation">
      <a class="w-nav-link nav-link" href="#/homepage">Home</a>
      <a class="w-nav-link nav-link" href="#">About</a>

    </nav>
    <div class="w-nav-button nav-menu-button" data-ix="new-interaction">
      <div class="w-icon-nav-menu"></div>
    </div>
  </div>
</div>


<div class='view' ng-view></div>

<script type='text/ng-template' id='homepage.html'>
  <%= stylesheet_link_tag "homepage" %>

  <div id='content'>
    <article id='manned-flight'>
      <h2>Artists of Mount Pleasant Present...</h2>
      <h6>(Scroll)</h6>
    </article>
    <article id='frameless-parachute'></article>
    <article id='english-channel'></article>
    <article id='about'>
      <ul>
        <li><h6>Track List</h6></li>
        <li class='artist' ng-repeat="artist in artists">
          <a class='name' href='#/artists/{{artist.id}}'>{{artist.name}}</a>
        </li>
      </ul>
    </article>
  </div>
  <!-- Parallax foreground -->
  <div id='parallax-bg3'>
    <%= image_tag "mtpmt-pigeon.png", {id: "bg3-1"}%>
    <%= image_tag "mtpmt-boom.png", {id: "bg3-2"}%>
    <%= image_tag "mtpmt-cat.png", {id: "bg3-3"}%>
  </div>
  <!-- Parallax  midground clouds -->
  <div id='parallax-bg2'>
    <%= image_tag "mtpmt-papers.png", {id: "bg2-1", alt: "cloud"}%>
    <%= image_tag "mtpmt-manhole.png", {id: "bg2-2", alt: "cloud"}%>
    <%= image_tag "mtpmt-guy.png", {id: "bg2-4", 'class' => "guy"}%>
  </div>
  <!-- Parallax  background clouds -->
  <div id='parallax-bg1'>
    <%= image_tag "mtpmt-bg.jpg", {id: "bg1-1", alt: "cloud"}%>
  </div>
</script>


<script type='text/ng-template' id='artist.html'>
  <%= stylesheet_link_tag "normalize" %>
  <%= stylesheet_link_tag "webflow" %>
  <%= stylesheet_link_tag "mpmt.webflow" %>
  <a href="#/homepage"><%= image_tag "logo-white.png", {class: "w-hidden-tiny main-logo", width: "152"} %></a>

  <div ng-if="artists">
    <%= image_tag "band-example.jpg", { width: "100%"} %>
    <div class="band-photo-area">
      <div class="band-info">
        <h6>BAND</h6>
        <h1 class="band-name">{{activeArtist.name}}</h1>
      </div>
    </div>
    <div class="bandinfo">
      <h2>Story <span class="smallital">of the</span> Band</h2>
      <p>{{activeArtist.story_of_the_band}}</p>

      <h2>Story <span class="smallital">of the</span> Song</h2>
      <p>{{activeArtist.story_of_the_song}}</p>
      <h2>Favorite DC Thing</h2>
      <p>{{activeArtist.favorite_dc_thing}}</p>
    </div>
    <div class="band-photo-area nextband">
      <a class="w-inline-block" href="atbk.html">
        <div class="band-info nextband">
          <h6>Next Up...</h6>
          <h1 class="band-name">All the Best Kids</h1>
        </div>
      </a>
    </div>
  </div
</script>
