= stylesheet_link_tag("homepage")
= javascript_include_tag("soundcloud_init")

#content
  = image_tag "mtpmt-bg-static.jpg", {'class' => 'staticimg'}
  #artists.header
    #artists-app.display-view
      .vert-text{'ng-show' => "currentPage == '/artists'"}
        #artists
          %h2 Artists:
          %br
          %ul.artist-list
            %li.artist{'ng-repeat' => "artist in artists"}
              %a.name{'ng-click' => "setActiveArtist(artist.name)"} {{artist.name}}
              .description{'ng-if' => "activeArtist == artist.name", 'ng-bind-html' => "artist.description"}

      .vert-text{'ng-show' => "currentPage == '/about'"}
        #about
          %h2 About:
          Stuff about the mixtape!

  %article#manned-flight
    %h2 Artists of Mount Pleasant Present...
    %h6 (Scroll)
  %article#frameless-parachute
  %article#english-channel
  %article#about
    %ul
      %li
        %h6 Track List
      %li
        %a{href: "#"} All the Best Kids - Breakthrough
      %li
        %a{href: "#"} Baby Bry Bry - YSYDLM
      %li
        %a{href: "#"} Bella Russia - Degas
      %li
        %a{href: "#"} Humble Fire - Mount Sait Misery
      %li
        %a{href: "#"} Kingsley Flood - Down
      %li
        %a{href: "#"} Letitia Van Sant -  Rising Tides
      %li
        %a{href: "#"} Louis Weeks - Fold
      %li
        %a{href: "#"} Paperhaus - Twisted Tumbled
      %li
        %a{href: "#"} Stranger in the Alps – Make Me Move
      %li
        %a{href: "#"} The Nighttime Adventure Society - Please Louise
      %li
        %a{href: "#"} The Sea Life - NY Models
      %li
        %a{href: "#"} The Torches - Scales (If Wishes Were Fishes)
      %li
        %a{href: "#"} Wanted Man - Folks On Medicine
      %li
        %a{href: "#"} Who Needs a Pulse - Track Name

/ Parallax foreground
#parallax-bg3
  = image_tag "mtpmt-pigeon.png", {id: "bg3-1"}
  = image_tag "mtpmt-boom.png", {id: "bg3-2"}
  = image_tag "mtpmt-cat.png", {id: "bg3-3"}
/ Parallax  midground clouds
#parallax-bg2
  = image_tag "mtpmt-papers.png", {id: "bg2-1", alt: "cloud"}
  = image_tag "mtpmt-manhole.png", {id: "bg2-2", alt: "cloud"}
  = image_tag "mtpmt-guy.png", {id: "bg2-4", 'class' => "guy"}
/ Parallax  background clouds
#parallax-bg1
  =image_tag "mtpmt-bg.jpg", {id: "bg1-1", alt: "cloud"}
